.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20px;
  }

  .Asset2 {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    color: red;
  }