.Container {
    min-height: 100px;
  }

.Close {
  color: rgb(28, 131, 131);
  padding-right: 30px;
}

.Close:hover {
  color: rgb(0, 8, 8);
}

.CloseIns {
  color: red;
}

.Back {
  background-color: rgb(222, 236, 248);
}

.Back2 {
  background-color: #ffffff;
}

.Back3 {
  background-color: rgb(241 248 253);
}

.Crew {
  min-height: 100px;
}

.White {
  background-color: #fff;
}

.UnitCall {
  background-color: #c1f1f7;
  color: #000;
}

.Titles {
  background-color: #dbf2f5;
  color: #000;
}

.CrewInfoRow {
  border-bottom: 1px solid #fff;
}

.CrewInfoRowAdd {
  border-bottom: 1px solid #fff;
}

.CrewInfoP {
  font-weight: 700;
  margin-bottom: 3px;
}

.CrewInfop {
  margin-bottom: 3px;
}

.Button {
  color: rgb(28, 204, 204);
  cursor: pointer;
}

.Button:hover {
  color: rgb(31, 98, 98);
}

.Important {
  background-color: antiquewhite;
}

.ImportantText {
  color: #000;
}

.CastEntered {
  background-color: #f0f1f9;
}

.Bold { 
  font-weight: 700;
}

.Top {
  background-color: #14404f;
  color: #fff;
}

.Top:hover {
  background-color: #3076ac;
  color: #fff;
}

.Title {
  background-color: #fff;
}
  
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 35px !important;
}

.InputScene {
  background: #ffffff;
  border: 1px solid #f0f1f9;
   box-sizing: border-box;
   border-radius: 2px;
   color: #7177a1;
   padding: 0px 10px;
}


.TitleBox {
  background-color: #e8f0f1;
  color: #000;
}

.TitleBox2 {
  border-right : 2px solid #fff;
}

.Border {
  border: 2px solid #e8f0f1;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

.FormBox {
  background-color: aliceblue;
  font-weight: 700;
}

.ScenesBox {
  background-color: #eaf2fa;
}

.Width {
  width: 70%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Next1 {
  background-color: #14404f;
  color: #fff;
}

.Drop i {
  color: #000;
}

/* info */

.SceneBox {
  border: 1px solid #fafafa;
  background-color: #fff;
  font-weight: 700;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

.Logo {
  height: 100px;
  max-width: 100%;
  object-fit: contain;
}

.Image {
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

/* Order */

.OrderBox {
  background-color: rgb(209, 240, 240);
}

.Width {
  width: 70%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .Width {
    width: 90%;
  }

  .Width2 {
    width: 90%;
  }
}

@media screen and (max-width: 780px) {
  .Width3 {
    width: 50%;
  }
}