.Container {
    min-height: 100px;
}

.Break7 {
  border-top: 3px solid #c1f1f7;
}

.RightPanel {
 border-right: 3px solid #c1f1f7
}

.CastCall {
  border-top: 3px solid #c1f1f7;
  border-bottom: 3px solid #c1f1f7;
  border-left: 3px solid #c1f1f7;
  border-right: 3px solid #c1f1f7;
}
/* .CastCall {
  border-top: 2px solid #c1f1f7;
  border-bottom: 2px solid #c1f1f7;
  border-left: 2px solid #c1f1f7;
  border-right: 2px solid #c1f1f7;
} */

.HrSched {
  border-top: 2px solid #fff;
}

.Info {
  font-size: .75rem !important;
  font-weight: 700;
  color: rgb(170, 27, 55);
  cursor: pointer;
}

.Info:hover {
  color: rgb(73, 2, 16);;
}

.SelectBox {
  border: 1px solid #c1f1f7;
}

.BoldSceneS {
  border-bottom: #1ea7ae;
  width: 80%;
}

hr {
  border-top: 1px solid #c1f1f7;
}

.HRWide {
  border-top: 3px solid #c1f1f7;
}

.HRWider {
  border-top: 10px solid #e8f0f1;
}

.HRGold {
  border-bottom: 1px solid rgba(226, 200, 123, 0.99);
  min-height: 20px;
}

.Borderl {
  padding-bottom: 5px;
}

.BreakCrew {
  border: 1px solid #c1f1f7;
}

.SmallSize {
  font-size: .75rem;
}

/* .Border {
  border-top: 2px solid #e8f0f1;
  border-bottom: 2px solid #e8f0f1;
  border-left: 2px solid #e8f0f1;
  border-right: 2px solid #e8f0f1;
} */

.Border {
  border-top: 2px solid #c1f1f7;
  border-bottom: 2px solid #c1f1f7;
  border-left: 2px solid #c1f1f7;
  border-right: 2px solid #c1f1f7;
}

.Border2 {
  border-top: 1px solid #c1f1f7;
  border-bottom: 1px solid #c1f1f7;
  border-left: 1px solid #c1f1f7;
  border-right: 1px solid #c1f1f7;
}

.Border3 {
  border-bottom: 1px solid #c1f1f7;
}

.White1 {
  border: 1px solid #999;
}

.SmallCrew {
  font-size: .75rem;
}

  .Width {
    width: 70%;
  }
  
  .Width2 {
    width: 80%;
  }
  
  .Width3 {
    width: 80%;
  }
  
  .Width95 {
    width: 95%;
  }

p {
  margin-bottom: 0;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

.Break5 {
  border-top: 5px solid #e8f0f1;
  border-top: 4px solid #c1f1f7;
}

.SubTitle2 {
  background-color: #d6fcff;;
  font-weight: 700;
  width: 40%;
  color: rgba(129, 102, 21, 0.99);
  color: #000
}

.SubTitle2 p {
  color: #fff;
} 

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
  width: 20%;
}

.SubTitle4 {
  background-color: #e4f2f4;
  font-weight: 700;
  width: 40%;
}

.SubTitle6 {
  background-color: #fff;
  font-weight: 700;
  color: #000;
  border: 1px solid red;
}

.SubTitle7 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.BoldScene {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
}

.CrewInfoP {
  font-weight: 700;
  margin-bottom: 3px;
  color: #616370;
}

.CrewInfop {
  margin-bottom: 3px;
  color: #616370;
}

.BoldTitleCall {
  font-weight: 700;
  color: #F5F5F5;
  background-color: #000;
}

.Break {
  border-top: 10px solid #d0d9db;
}

.Break1 {
  border-top: 1px solid #d0d9db;
  /* border-top: 1px solid rgb(140, 111, 25, 99%); */
}

.Break2 {
  border-top: 5px solid #d0d9db;
}

.BorderRight {
  border-right: 1px solid #d0d9db;
  /* border-right: 1px solid rgba(100, 80, 20, 0.99); */
}

/* CallsheetTop */
.BoldBase {
  color: #1ea7ae;
}

.Top {
  background-color: #1ea7ae;
  color: #fff;
}

.Top:hover {
  background-color: #27c6cf;
  color: #fff;
}

.Inner {
  background-color: #fafafa;
  color: #000;
}

.Top:hover .Inner {
  background-color: #27c6cf;
  color: fff;
}

.Map {
  cursor: pointer;
}

.BodyColor {
  background-color: #f8f8f8;
  height: 40px;
}

.Red {
  color: crimson;
}

.WhiteAqua {
  background-color: #f6fffe;
}

.WhiteAquaPro {
  background-color: #f6fffe;
  font-family: Playball;
}

.WhiteAquaAdd {
  background-color: #f6fffe;
  font-family: Playfair;
}

.WhiteAquaAdd2 {
  background-color: #f6fffe;
  font-family: Playfair;
}
.WhiteAquaAdd3 {
  background-color: #f6fffe;
  font-family: Parisienne;
}
.WhiteAquaAdd4 {
  background-color: #f6fffe;
  font-family: Parisienne;
}

.Close {
  color: rgb(28, 131, 131);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
}

.Close:hover {
  color: rgb(60, 237, 237);
  cursor: pointer;
}

#dropdown-basic-button {
  padding: 0.1rem 0.1rem;
  color: #000;
  background-color: #27c6cf;
}

.dropdown-menu {
  overflow-y: scroll;
}

#dropdown-basic-button {
  padding: 0.01rem 0.01rem !important;
  color: #000;
  background-color: #27c6cf;
}

.dropdown-menu {
  display: block;
  overflow-y: scroll !important
}

.DropButt {
  /* z-index: 999;
  color: #000; */
  overflow-y: scroll;
  height: 300px;
}

.dropdown-toggle.btn.btn-primary {
  color: #000
}

.CloseIns {
  color: red;
}

.Back {
  background-color: rgb(242, 247, 252);
}

.Back2 {
  background-color: #ffffff;
}

.Back3 {
  background-color: rgb(241 248 253);
}

.Crew {
  min-height: 50px;
}

.White {
  background-color: #fff;
}

.CallLogoDiv {
  height: 80px;
  border: 2px solid #456989;
}

.CallLogoDivMob {
  height: 60px;
  border: 2px solid #456989;
}

.UnitCall {
  background-color: #c1f1f7;
  color: #000;
}

.MovieName {
  color: #000;
  font-size: 2.5rem;
  background-color: #f6fffe;
  font-family: Playball;
  padding-left: 120px;
  padding-right: 120px;
}

.MovieNameMo {
  color: #000;
  font-size: 1.75rem;
  background-color: #f6fffe;
  font-family: Playball;
}

.LogoEdit {
  height: 1px;
  max-width: 100%;
  object-fit: contain;
}

.Logo {
  height: 100px;
  max-width: 100%;
  object-fit: contain;
}

.LogoMo {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
}

.YourCallMed {
  background-color: #c1f1f7;
  color: #000;
  font-size: 2.5rem;
}

.YourCallMob {
  background-color: #c1f1f7;
  color: #000;
  font-size: 1.5rem;
}

.YourCallMobUser {
  background-color: #c1f1f7;
  color: #000;
  font-size: 1rem;
}

.UnitCallMed {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.5rem;
}

.UnitCallMob {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMedDate {
  background-color: #e9fffd;
  color: #000;
  font-size: 1.5rem;
}

.UnitCallMobDate {
  background-color: #e9fffd;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMedDay {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMobDay {
  background-color: #f6fffe;
  color: #000;
  font-size: 1rem;
}

.Titles {
  background-color: #dbf2f5;
  color: #000;
}

.CrewInfoRow {
  /* border-bottom: 5px solid #fff; */
  /* border-top: 5px solid #fff; */
  margin-top: 10px;
  margin-bottom: 5px;
}

.CrewInfoRowAdd {
  border-bottom: 1px solid #fff;
}

.Button {
  color: #185f70;
  font-weight: 700;
  cursor: pointer;
}

.Button:hover {
  color: #32c0e4;
}

.Important {
  background-color: antiquewhite;
}

.ImportantText {
  color: #000;
}

.CastEntered {
  background-color: #dde7ef;
  background-color: #f1f5f7;
  background-color: #ecfbfd;
  min-height: 40px;
}

.Red {
  color: red;
}

.Bold { 
  font-weight: 700;
}

.Title {
  background-color: #fff;
}

.Input {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  color: #525463;
  color: #0e1444;
  padding: 0px 10px;
  height: 30px !important;
  /* text-align: center; */
}

.InputB {
  background: #ffffff;
  border: 2px solid #c1f1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  color: #525463;
  color: #0e1444;
  padding: 0px 10px;
  height: 30px !important;
  /* text-align: center; */
}

.InputScene {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #53587c;
  color: #525677;
  color: #0e1444;
  color: #474f7a;
  padding: 0px 10px;
  min-height: 30px !important;
  /* text-align: center; */
 }

.TitleBox {
  background-color: #e8f0f1;
  color: #000;
}

.TitleBoxB {
  font-weight: 700;
}

.TitleBox2 {
  border-right : 2px solid #fff;
}

/* .Border2 {
  border: 2px solid #e8f0f1;
} */

/* .Borderl {
  border-bottom: 2px solid #e8f0f1;
  border-left: 2px solid #e8f0f1;
  border-right: 2px solid #e8f0f1;
}

.Borderm {
  border-bottom: 2px solid #e8f0f1;
  border-left: 2px solid #e8f0f1;
  border-right: 2px solid #e8f0f1;
} */

.HSpan {
  font-size: .75rem;
  font-weight: 400;
}

.SubTitleSpan {
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.FormBox {
  background-color: aliceblue;
  font-weight: 700;
}

.ScenesBox {
  background-color: #eaf2fa;
}

.NextCall {
  background-color: #fffff5; 
  color: #000;
}

.Drop i {
  color: #000;
}

/* info */

.SceneBox {
  border: 1px solid #fafafa;
  background-color: #fff;
  font-weight: 700;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

.Image {
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

/* Order */

.OrderBox {
  background-color: rgb(209, 240, 240);
}

@media screen and (max-width: 600px) {
  .SubTitleSpan {
    font-size: 1rem;
  }
  
  .BoldScene {
    font-size: .75rem;
  }

  .Input {
    height: 20px !important;
    text-align: center;
    font-size: .75rem !important;
  }

  .InputB {
    height: 20px !important;
    text-align: center;
    font-size: .75rem !important;
  }

  .InputScene {
    min-height: 30px !important;
    text-align: center;
    font-size: .75rem !important;
  }

  .Width {
    width: 90%;
  }

  .Width2 {
    width: 90%;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .BreakCrew {
    border-bottom: 5px solid #c1f1f7 ;
    border-top: 1px solid #fff ;
}

  hr {
    border-top: 1px solid #a3eaf7;
    /* border-top: 1px solid #c1f1f7; */
    padding-bottom: 5px;
  }

  .Width3 {
    width: 50%;
  }

  .Width {
    width: 90%;
  }

  .SubTitle2 {
    width: 90%;
  }

  .SubTitle3 {
    width: 90%;
  }

  .SubTitle4 {
    width: 90%;
  }
}