.Container {
    min-height: 100px;
  }

p {
  margin-bottom: 0;
}

/* .WhiteAqua {
  background-color: f6fffe;
} */

.WhiteAqua {
  background-color: #f6fffe;
}

.WhiteAquaPro {
  background-color: #f6fffe;
  font-family: Playball;
}

.WhiteAquaAdd {
  background-color: #f6fffe;
  font-family: Playfair;
}

.WhiteAquaAdd2 {
  background-color: #f6fffe;
  font-family: Playfair;
}
.WhiteAquaAdd3 {
  background-color: #f6fffe;
  font-family: Parisienne;
}
.WhiteAquaAdd4 {
  background-color: #f6fffe;
  font-family: Parisienne;
}


.Close {
  color: rgb(28, 131, 131);
  padding-right: 30px;
}

#dropdown-basic-button {
  padding: 0.1rem 0.1rem;
  color: #000;
}

.DropButt {
  color: #000
}

.dropdown-toggle.btn.btn-primary {
  color: #000
}

.Close:hover {
  color: rgb(0, 8, 8);
}

.CloseIns {
  color: red;
}

.Back {
  background-color: rgb(222, 236, 248);
}

.Back2 {
  background-color: #ffffff;
}

.Back3 {
  background-color: rgb(241 248 253);
}

.Crew {
  min-height: 100px;
}

.White {
  background-color: #fff;
}

.CallLogoDiv {
  height: 80px;
  border: 2px solid #456989;
}

.CallLogoDivMob {
  height: 60px;
  border: 2px solid #456989;
}

.UnitCall {
  background-color: #c1f1f7;
  color: #000;
}

.MovieName {
  color: #000;
  font-size: 2.5rem;
  background-color: #f6fffe;
  font-family: Playball;
  padding-left: 120px;
  padding-right: 120px;
}

.MovieNameMo {
  color: #000;
  font-size: 1.75rem;
  background-color: #f6fffe;
  font-family: Playball;
}

.Logo {
  height: 100px;
  max-width: 100%;
  object-fit: contain;
}

.LogoMo {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
}

.YourCallMed {
  background-color: #c1f1f7;
  color: #000;
  font-size: 2.5rem;
}

.YourCallMob {
  background-color: #c1f1f7;
  color: #000;
  font-size: 1.75rem;
}

.UnitCallMed {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.5rem;
}

.UnitCallMob {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMedDate {
  background-color: #e9fffd;
  color: #000;
  font-size: 1.5rem;
}

.UnitCallMobDate {
  background-color: #e9fffd;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMedDay {
  background-color: #f6fffe;
  color: #000;
  font-size: 1.25rem;
}

.UnitCallMobDay {
  background-color: #f6fffe;
  color: #000;
  font-size: 1rem;
}
.UnitCallBorder {
  /* background-color: #c1f1f7; */
  color: #000;
  border: 3px solid #c1f1f7;
}

.Titles {
  background-color: #dbf2f5;
  color: #000;
}

.CrewInfoRow {
  border-bottom: 1px solid #fff;
}

.CrewInfoRowAdd {
  border-bottom: 1px solid #fff;
}

.CrewInfoP {
  font-weight: 700;
  margin-bottom: 3px;
}

.CrewInfop {
  margin-bottom: 3px;
}

.Button {
  color: rgb(28, 204, 204);
  cursor: pointer;
}

.Button:hover {
  color: rgb(31, 98, 98);
}

.Important {
  background-color: antiquewhite;
}

.ImportantText {
  color: #000;
}

.CastEntered {
  background-color: #deedfa;
}

.Bold { 
  font-weight: 700;
}

.Top {
  background-color: #14404f;
  color: #fff;
}

.Top:hover {
  background-color: #3076ac;
  color: #fff;
}

.Title {
  background-color: #fff;
}
  
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 35px !important;
}

.InputScene {
  background: #ffffff;
  border: 1px solid #f0f1f9;
   box-sizing: border-box;
   border-radius: 2px;
   color: #7177a1;
   padding: 0px 10px;
}


.TitleBox {
  background-color: #e8f0f1;
  color: #000;
}

.TitleBox2 {
  border-right : 2px solid #fff;
}

.Border {
  border: 2px solid #e8f0f1;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

/* .SubTitle {
  background-color: #fffff5;
  font-weight: 700;
} */

.HSpan {
  font-size: .75rem;
  font-weight: 400;
}

.SubTitleSpan {
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.FormBox {
  background-color: aliceblue;
  font-weight: 700;
}

.ScenesBox {
  background-color: #eaf2fa;
}

.NextCall {
  background-color: #fffff5;
  color: #000;
}

.Drop i {
  color: #000;
}

/* info */

.SceneBox {
  border: 1px solid #fafafa;
  background-color: #fff;
  font-weight: 700;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

.Image {
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

/* Order */

.OrderBox {
  background-color: rgb(209, 240, 240);
}

.Width {
  width: 70%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Width95 {
  width: 95%;
}

@media screen and (max-width: 600px) {
  .Width {
    width: 90%;
  }

  .Width2 {
    width: 90%;
  }

  .Width95 {
    width: 100%;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .Width3 {
    width: 50%;
  }
}