/* .SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
} */

.FullsizeText {
  color: rgb(36, 184, 184);
  font-style: italic;
  font-size: .70rem;
}

.FullsizeText:hover {
  color: rgb(14, 66, 66);
  cursor: pointer;
}

.ImagesIndex {
    object-fit: contain;
    height: 300px;
    width: 100%; 
}

.TopCard {
    border: 1px solid #fff;
    background-color: #fff;
 }

 .TopCard2 {
    min-height: 40px;
    color: rgb(140, 111, 25, 99%);
    overflow: hidden;
}

  .FullsizeText {
    color: rgb(36, 184, 184);
    font-style: italic;
  }
  
  .FullsizeText:hover {
    cursor: pointer;
  }

.Break1 {
    border-top: 1px solid #d0d9db;
}

.BreakCos1 {
  border-top: 1px solid #d0d9db;
}

.ImageBox {
  border: 2px solid #fff;
}

.ImageBox2 {
  border: 1px solid #d0d9db;
  background-color: #fff;
}

.Para {
  min-height: 25px;
}

.BorderRight {
  border-right: 1px solid #d0d9db;
}

.Role {
  color: #686c8a;
  color: #525463;
  color: #494d70;
  /* color: #333333; */
}

.Info {
  color: #000;
}

.Top {
  background-color: #1ea7ae;
  color: #fff;
  border: 1px solid #fff;
}

.Top:hover {
  background-color: #5de6ed;
  color: #000;
}

.Top i {
  color: #fff;
}

.Top:hover i {
  color: #000;
}

.ImagesLand {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.Images {
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.Header {
  background-color: #fff;
}

.Header i {
  color: #666;
}

/* i {
  color: rgb(41, 180, 180);
} */

.Bold { 
  font-weight: 700;
}

.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}

.BoldTitle {
  font-weight: 700;
  background-color: #d6fcff;
}

.BoldTitleCall {
  font-weight: 700;
  color: #fff;
  background-color: #000;
}

.Button {
  color: rgb(41, 180, 180);
  cursor: pointer;
}

.Title {
  background-color: #fff;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

.InputBar {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
} 

@media screen and (max-width: 600px) {

  .InputBar {
    height: 20px !important;
    font-size: .75rem !important;
}

  .Titlelist {
    font-size: .75rem ;
  }

  .BoldTitleCall {
    font-weight: 700;
    color: #fff;
    background-color: #000;
    font-size: .75rem ;
  }
}

@media screen and (max-width: 780px) {
  .ImageBox {
    border: 2px solid #d0d9db;
  }

  .ImageBox2 {
    border: 2px solid #fff;
  }
}