.Backgroundhome {
    background-color: #353839;
    margin: 0;  
    width: 100%; 
    height: 100%;
  }

  .Background {
    background-color: #353839;
    margin: 0;  
    width: 100%; 
    /* height: 600px; */
  }

.Row {
    height: 100%;
}

.HomeboxXs {
    height: 90px;
    background-color: #3b444b;
    color: #F5F5F5;
}

.HomeboxXsXs {
    height: 70px;
    background-color: #3b444b;
    color: #F5F5F5;
}

.Homebox1 {
    min-height: 160px;
    background-color: #3b444b;
    color: #F5F5F5;
}

.Homebox {
    height: 100px;
    background-color: #3b444b;
    color: #F5F5F5;
}

.HomeboxSm {
    height: 100px;
    background-color: #3b444b;
    color: #F5F5F5;
    margin-bottom: 20px;
}

.HomeboxSmEr {
    height: 80px;
    background-color: #3b444b;
    color: #F5F5F5;
    margin-bottom: 20px;
}

.Title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
  
.Image {
    /* max-height: 40vh; */
    max-width: 100%;
    object-fit: contain;
}

.FillerImagel {
    object-fit: cover;
    height: 90%;
    width: 100%;
    }

.FillerImageh {
    object-fit: cover;
    height: 90%;
    width: 100%;
    }
    
/* .FillerImagel {
    object-fit: cover;
    height: 300px;
    width: 50px;
    margin-top: 50px;
    background-repeat: no-repeat;
} */

.FillerImager {
    object-fit: cover;
    height: 300px;
    width: 50px;
    margin-top: 30px;
    /* background-image: url("./images/door66l.png"); */
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .Title {
        font-size: 1.12rem;
    }
}

@media screen and (max-width: 1000px) {
    .Homebox {
        height: 127px;
    }
}