.Editbox {
    border: 1px solid #d2d0d0;
    background-color: #fff;
}

.Width90 {
    width: 90%;
}

.Title {
    color: #4f649f;
    font-weight: 700;
}

.Italic {
    font-style: italic;
}

.DivSize {
    height: 100px;
    overflow: hidden;
}

.Card {
    border: 1px solid #263d7b;
}

.Top {
background-color: #263d7b;
color: #fff;
}

.TopSeries {
    background-color: #1ea7ae;
    color: #fff;
    border: 1px solid #fff;
    /* transition-timing-function: ease;
    transition: border .5s, background-color .5s, transform .5s; */
  }
  
  .TopSeries i {
    color: #fff;
  }

  .TopSeries h5 {
    color: #fff;
  }

  .TopSeries h5:hover {
    color: #000;
  }
  
  .TopSeries:hover {
    background-color: #5de6ed;
    color: #000;
    /* -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);  */
  }
  
  .TopSeries:hover i {
    color: #000;
  }
      
.Titledetail {
font-weight: 700;
color: #000;
}

.Bottom:hover {
background-color: #112533;
color: #fff;
}

.Bottom:hover .Titledetail {
color: #fff;
}

/* .Titlelist {
    color: #fff;
} */

.Content {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.Images {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.ImagesIndex {
    object-fit: contain;
    height: 235px;
    width: 100%; 
}

.ImagesFull {
    object-fit: contain;
    height: 500px;
    width: 100%;
}

.Header {
    background-color: #fff;
  }

.Back {
background-color: aliceblue;
border: 1px solid #ebe6e6;
}

.Bold {
font-weight: 700;
}

.SubTitle {
background-color: #e8f0f1;
font-weight: 700;
}

.SubTitle2 {
background-color: #d6fcff;;
font-weight: 700;
}

.SubTitle3 {
background-color: #e4f2f4;
font-weight: 700;
}

.Width {
width: 70%;
}

.Width2 {
width: 80%;
}

.Width3 {
width: 80%;
}

.Width100 {
    width: 100%;
}

.Input {
background: #ffffff;
border: 1px solid #e0e3eb;
box-sizing: border-box;
border-radius: 2px;
color: #7177a1;
padding: 0px 10px;
height: 30px !important;
text-align: center;
}

.InputScene {
background: #ffffff;
border: 1px solid #e0e3eb;
box-sizing: border-box;
border-radius: 2px;
color: #7177a1;
padding: 0px 10px;
text-align: center;
}

.InputChar {
background: #ffffff;
border: 1px solid #f0f1f9;
box-sizing: border-box;
border-radius: 2px;
color: #7177a1;
padding: 0px 0px;
height: 30px !important;
text-align: center;
}

.BoldTitle {
font-weight: 700;
background-color: rgb(209, 240, 240);
}

@media screen and (max-width: 600px) {
.Width {
    width: 90%;
}

.Width2 {
    width: 90%;
}

.Width95 {
    width: 100%;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

.Titlelist {
    font-size: .75rem ;
  }
}

@media screen and (max-width: 780px) {
.Width3 {
    width: 50%;
}
}