.MoodTop {
  background-color: #1ea7ae;
  color: #fff;
  /* border-bottom: 2px solid #fafafa; */
}

.MoodTop i {
color: rgb(174, 195, 197);
}

.Edit {
  color: rgb(144, 158, 161);
}

.MoodTop i:hover {
  color: #fff;
  }
  
.MoodTop2 {
background-color: #fff;
color: #000;
}

.Content {
  background-color: #fff;
  cursor: pointer;
  height: 100%;
}

.Content:hover span {
  color: #fff;
  cursor: pointer;
}

.Content:hover {
  background-color: #232d30;
  color: #fff;
  cursor: pointer;
}

.Content:hover i {
  color: #fff;
  cursor: pointer;
}

.Content1 {
  color: #1ea7ae;
  cursor: pointer;
} 

.Content2 {
  cursor: pointer;
  color: #000;
}

.ImagesLand {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

/* .Content1:hover {
  color: #fff;
  cursor: pointer;
}

.Content2:hover {
  cursor: pointer;
  color: #fff;
} 

.Content1:hover .Content2{
  color: #fff;
  cursor: pointer;
}

.Content2:hover .Content1 {
  cursor: pointer;
  color: #fff;
}  */