.MoodTop {
    background-color: #14404f;
    color: #fff !important;
}


.MoodTop2 {
background-color: #14404f;
color: #fafafa;
}

.Content {
    background-color: #444a4c;
    cursor: pointer;
    height: 100%;
  }

  .Content:hover {
    background-color: #232d30;
    cursor: pointer;
  }

  .Content1 {
    /* background-color: #444a4c; */
    color: #fff;
    cursor: pointer;
  }

  .Content1:hover {
    /* background-color: #232d30; */
    cursor: pointer;
    color: #e9f1f1;
  }

  .Content2 {
    cursor: pointer;
    color: #79f5ef;
  }

  .Content2:hover {
    cursor: pointer;
    color: #e9f1f1;
  }