.MoodTop {
  background-color: #1ea7ae;
  color: #fff;
  /* border-bottom: 2px solid #fafafa; */
}

/* .MoodTop i {
color: rgb(174, 195, 197);
} */

.Date {
  font-size: .7rem;
}
.MoodTop:hover i {
  color: #666;
}

.Edit {
  color: rgb(144, 158, 161);
}

.MoodTop i:hover {
  color: #fff;
  }
  
.MoodTop2 {
background-color: #fff;
color: #000;
}

.Content {
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  color: #666;
}

.Content3 {
  background-color: #343c3e;
  color: #fafafa;
  cursor: pointer;
}

.Content3:hover {
  background-color: #1889a5;
  cursor: pointer;
}

.ImagesLand {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

/* .Content1:hover {
  color: #fff;
  cursor: pointer;
}

.Content2:hover {
  cursor: pointer;
  color: #fff;
} 

.Content1:hover .Content2{
  color: #fff;
  cursor: pointer;
}

.Content2:hover .Content1 {
  cursor: pointer;
  color: #fff;
}  */