.NavBar {
    background-color: #ffffff;
    color: black;
  }

.NavLink {
  padding: 2px;
  font-size: 12px;
  /* display: flex;
  align-items: center; */
}

/* a.NavLink{
  margin-top: -3px !important;
} */

.NavLink:hover {
padding: 2px;
color: #000
}

.NavLink:active p {
  color: red;
}

.nav a.active {
  color: #fff;
  background: #7600dc;
}
.nav a.inactive {
  font-style: italic;
}

.DropLink {
  color: black;
}

.DropLink:hover {
  color: #000;
}

.Active i {
color: rgb(3, 81, 81);
}

.Active {
color: rgb(3, 81, 81);
}

Title {
  color: #000;
}

.NavLink i {
  color: rgb(41, 180, 180);
}

/* i {
  color: rgb(41, 180, 180);
  font-size: .5em !important;
} */