.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    color: black;
  }

.NavLink {
  padding: 5px;
  font-size: 12px;
}

.DropLink {
  color: black;
}

/* .basic-navbar-nav {
  color: #000;
} */

.Active i {
  color: #2142b2;
}

.Active {
  color: #2142b2;
}

Title {
  color: #000;
}

/* a #nav-dropdown2.dropdown-toggle.nav-link {
  color: #000;
}

.basic-navbar-nav a {
  color: #000;
} */

i {
  font-size: .5em !important;
}