.goldbright {
  color: rgb(255,215,0);
}

.golddark {
  font-weight: 700;
  color: rgb(140, 111, 25, 99%);
}

.Red {
  color: crimson;
}

.BoldTitleCall {
  font-weight: 700;
  color: #F5F5F5;
  background-color: #000;
  /* background-color: #3b444b; */
}

.Break1Cos {
  border-top: 1px solid rgba(177, 146, 51, 0.99);
  /* border-top: 1px solid #a7a9aa; */
}

.Number {
  color: #747686;
}

.Break {
  border-top: 10px solid #d0d9db;
}

.Break1 {
  border-top: 1px solid #d0d9db;
  /* border-top: 1px solid rgb(140, 111, 25, 99%); */
}

.Break2 {
  border-top: 5px solid #d0d9db;
}

.Close {
  /* color: rgb(28, 131, 131); */
  color: rgb(32, 201, 201);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
}

.gmailblue {
  background-color: #f2f6fc;
}

.BlueLight {
  background-color: #e2ecfa;
}

.JiraBody {
  color: #172b4d;
}

.JiraLight {
  color: #808080;
}

.JiraLight {
  color: #f6f7f9;
}

.JiraLightBlue {
  color: #ebedf0;
}

.Container {
  min-height: 100px;
}

.Container2 {
    min-height: 10px;
  }

.White {
  background-color: #fff;
}

.Whitebb {
  background-color: #fff;
  border-bottom: 1px solid #999;
}

.Back {
  background-color: aliceblue;
}

.Bold {
  font-weight: 700;
}

.Width {
  width: 50%;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

.SubTitle2 {
  background-color: #d6fcff;
  font-weight: 700;
}

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.Width {
  width: 70%;
}

.Width3 {
  width: 70%;
}


.Width50 {
  width: 50%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Width95 {
  width: 95%;
}

.BoldScene {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
}

.Input {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
}

.InputD {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
  width: 90%;
}

.InputSceneDept {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
}

.InputEx {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  height: 30px !important;
  text-align: center;
}

.InputScene {
 background: #ffffff;
 border: 1px solid #dee1f7;
 box-sizing: border-box;
 border-radius: 2px;
 color: #747686;
 padding: 0px 10px;
 min-height: 30px !important;
 text-align: center;
}

.InputDept {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  /* text-align: center; */
}

.InputSceneDept {
 background: #ffffff;
 border: 1px solid #dee1f7;
 box-sizing: border-box;
 border-radius: 2px;
 color: #747686;
 padding: 0px 10px;
}

.InputChar {
 background: #ffffff;
 border: 1px solid #dee1f7;
 box-sizing: border-box;
 border-radius: 2px;
 color: #7177a1;
 padding: 0px 0px;
 height: 30px !important;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

@media screen and (max-width: 600px) {
  .Width {
    width: 90%;
  }

  .Width2 {
    width: 90%;
  }

  .Width95 {
    width: 100%;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .Width3 {
    width: 50%;
  }
}