.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
}

.Blueback {
  font-weight: 700;
  color: rgb(15, 163, 163);
}

.Info {
  color: #000;
}

.Top {
  background-color: #1ea7ae;
  color: #fff;
  border: 1px solid #fff
}

.Top:hover {
  background-color: #22b9c1;
  color: #fff;
}

.Top i:hover {
  color: #fff;
}

.Title {
  background-color: #fff;
}

.InputBar {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  /* text-align: center; */
}

@media screen and (max-width: 600px) {
  .InputBar {
    height: 20px !important;
    font-size: .75rem !important;
}

  .Titlelist {
    font-size: .75rem ;
  }
}