.PostTop {
    background-color: #14404f;
    color: #fff;
  }

  /* 0a242d */

.PostTop2 {
  background-color: #58666b;
  color: #fff;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Edit {
  color: #fff;
}

.Edit:hover {
  color: #fff;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.GoToScene {
  color: #79f5ef;
  font-weight: 700;
  font-size: .75em;
  cursor: pointer;
}
.GoToScene:hover {
  color: #e9f1f1;
}

.GoToScene a {
  color: #79f5ef;
  font-weight: 700;
  font-size: .75em;
  cursor: pointer;
}
.GoToScene a:hover {
  color: #e9f1f1;
}

.Content {
  background-color: #444a4c;
  cursor: pointer;
}

.Content:hover {
  background-color: #232d30;
  cursor: pointer;
}

.ContentDep {
  background-color: #444a4c;
  color: #79f5ef;
  cursor: pointer;
}

.ContentDep:hover {
  background-color: #232d30;
  color: #fff;
  cursor: pointer;
}

.Content1 {
  /* background-color: #444a4c; */
  color: #fff;
  cursor: pointer;
}

.Content1:hover {
  /* background-color: #232d30; */
  cursor: pointer;
  color: #e9f1f1;
}

.Content2 {
  /* background-color: #444a4c; */
  cursor: pointer;
  color: #79f5ef;
}

.Content2:hover {
  /* background-color: #232d30; */
  cursor: pointer;
  color: #e9f1f1;
}
