.PostTop {
  background-color: #1ea7ae;
  color: #fff;
}

.GoldDark {
  color: rgba(129, 102, 21, 0.99);
}

.BorderRight {
  border-right: 1px solid #d0d9db;
}

.Role {
  color: #747686;
}

.BoldTitle {
  font-weight: 700;
  background-color: #d6fcff;
}

.ImageBox {
  border: 2px solid #fff;
}

/* .PostCard {
  border: 1px solid rgb(140, 111, 25, 99%);
  border-bottom: 1px solid rgb(255,215,0);
} */

.Italic {
  font-style: italic;
}

.DeptTitlemm {
  color: #F5F5F5;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.Icon i {
  color: #fff;
}

.Icon i:hover {
  color: #2142b2;
}

.PostTop2 {
  background-color: #fff;
  color: #000;
}

.Date {
  font-size: .7rem;
}

.ContentUnOpen {
  background-color: #2a2f34;
  color: #F5F5F5;
  cursor: pointer;
}

.ContentTitleUnOpen {
  color: #5fe9f0;
}

.ContentUnOpen:hover {
  background-color: #fafafa;
  color: #000;
  font-weight: 700;
}

.ContentUnOpen:hover .ContentTitleUnOpen {
  color: #000;
  font-weight: 400;
}

.ContentOpened {
  background-color: #fafafa;
  color: rgba(129, 102, 21, 0.99);
  cursor: pointer;
  font-weight: 700;
}

.ContentTitleOpened {
  color: #747686;
  font-weight: 400;
}

.ContentOpened:hover {
  color: #000;
  font-weight: 700;
}

.ContentOpened:hover .ContentTitleOpened {
  color: #000;
  font-weight: 400;
}

.Images {
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.Icons {
  font-size: .75rem;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Edit {
  color: #fff;
}

.Edit:hover {
  color: #fff;
}

i:hover {
  color: #2142b2;
}

.Star {
  color: gold;
  font-size: .75rem;
}

.Heart {
  color: crimson;
  font-size: .75rem;
}

.Comment {
  color: #f832f5;
  font-size: .75rem;
}

/* .GoToScene {
  color: #fff;
  font-weight: 700;
  font-size: .75em;
  cursor: pointer;
}
.GoToScene:hover {
  color: #000;
}

.GoToScene a {
  color: #79f5ef;
  font-weight: 700;
  font-size: .75em;
  cursor: pointer;
}
.GoToScene a:hover {
  color: #e9f1f1;
} */

.PostTopText {
  color: #205a6e;
}

.Red {
  color: crimson;
}

.White {
  color: #fff;
}

.ContentDep {
  background-color: #444a4c;
  color: #79f5ef;
  cursor: pointer;
}

.ContentDep:hover {
  background-color: #232d30;
  color: #fff;
  cursor: pointer;
}

.Card i {
  color: #fff;
}