.Container {
  min-height: 100px;
}
.Container2 {
    min-height: 10px;
  }

.Back {
  background-color: aliceblue;
}

.Bold {
  font-weight: 700;
}

.Width {
  width: 50%;
}

.SubTitle {
  background-color: #e8f0f1;
}

  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 10px;
    height: 35px;
}