.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    z-index: 99 !important;
  }

  .DropdownItem {
    padding: 0px;
    z-index: 99 !important;
  }
  
  .Absolute {
    position: absolute;
    right: 0; 
    top: 200; 
    z-index: 99 !important;
  }

  .Rel {
    position: relative;
  }

  .DropdownItem i {
    color: #666;
  }

  /* .Dots {
    color: #fff; 
  } */