.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
  }

.Menu {
    z-index: 99 !important;
    color: red;
}
  
  .Absolute {
    position: absolute;
    right: 0; 
    top: 200; 
    z-index: 99 !important;
  }

  .Rel {
    position: relative;
  }

  .DropdownItem i {
    color: #666;
  }