kkk

.Back {
  background-color: #fff;
}

.Header {
  background-color: #fff;
}

.BreakBox {
  border:1px solid aquamarine;
  min-height: 100px;
  /* background-color: rgb(221, 240, 240); */
}

.BreakBoxTitle {
  color: crimson;
}

/* .SceneTitle {
  background-color: #e8f0f1;
} */

.SubTitle {
  background-color: #e8f0f1;
}

.GuideTitle {
  font-style: italic;
}
.Instructions {
  background-color: rgb(149, 240, 240);
}

.Guide {
  background-color: cornsilk;
}

.CostumeLink {
  color: rgb(26, 172, 172);
  text-transform: uppercase;
  cursor: pointer;
}

.CostumeLink:hover {
  color: rgb(228, 103, 72);
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }

  .Edit {
    color: #fff;
  }

  .Edit:hover {
    color: #fff;
  }

  .Action {
    font-size: 1rem;
  }

  .Bold {
    font-weight: 700;
  }

  .Italics {
    font-style: italic;
  }

  .Div50 {
    height: 50px;
    overflow: hidden;
  }

  .Div25 {
    height: 25px;
    overflow: hidden;
  }

  .ShotInfo {
    background-color: blanchedalmond;
  }

  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
    height: 30px !important;
}

.ShotEditForm {
  border-bottom: 1px solid rgb(46, 46, 46);
}

.InputArea {
  background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
    height: 50px !important;
}

/* .InputChar::placeholder {
  color: #212529;
} */
.InputScene {
   background: #ffffff;
    /* border: 1px solid #f0f1f9; */
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
}

.InputChar {
  background: #ffffff;
    /* border: 1px solid #a3a3a8; */
    box-sizing: border-box;
    border-radius: 2px;
    /* color: #212529; */
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 0px;
    /* height: 30px !important; */
}

.NewChar {
  background-color: aquamarine;
}

/* .Input .form-control {
  height: 30px;
} */
  @media screen and (max-width: 600px) {
    .Title {
      font-size: .75em;
    }

    .Titledetail {
      font-size: 1.25em;
    }

    .SceneTitle {
      font-size: 1.25em;
    }
  }