/* scene card  */
.Story {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.SceneCard {
  border: 5px solid #fff;
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
  color: #000;
}

.Header {
  background-color: #fff;
}

.SceneCard:hover {
  background-color: rgb(209, 227, 250);
  color: #000;
  border: 10px solid #fff;
  /* animation: bounce 1s; */
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.SceneCard a {
  color: #000;
}

.SceneCard a:hover {
  color: #000;
}

.Back {
  background-color: #fff;
}

/* .Header {
  background-color: #fff;
} */

/* add scene */
.AddScene {
  background-color: cornsilk;
}

/* Scene */

.Bold { 
  font-weight: 700;
}
.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}
.Button {
  color: aqua;
}

.Button:hover {
  color: rgb(34, 153, 153);
}

.Close {
  color: rgb(28, 131, 131);
  padding-right: 30px;
}

.Close:hover {
  color: rgb(0, 8, 8);
}

.CloseIns {
  color: red;
}

.CloseIns:hover {
  color: rgb(231, 226, 226);
}

.BreakBox {
  border:1px solid aquamarine;
  min-height: 100px;
  /* background-color: rgb(221, 240, 240); */
}

.BreakBoxTitle {
  color: crimson;
}

/* .SceneTitle {
  background-color: #e8f0f1;
} */

.SubTitle {
  background-color: #e8f0f1;
}

.GuideTitle {
  font-style: italic;
}

.Guide {
  background-color: cornsilk;
}

.GuideBox {
  /* background-color: rgb(229 224 201); */
  background-color: rgb(245, 234, 191);
}

.Button {
  color: rgb(10, 173, 173);
}

.Button:hover {
  color: rgb(9, 182, 182);
}

.Instructions {
  background-color: rgb(149, 240, 240);
}

.Guide {
  background-color: cornsilk;
}

.UniImg {
  max-height: 130px;
  cursor: pointer;
}

.CardBox {
  border: 1px solid #fff;
}

.CostumeLink {
  color: rgb(26, 172, 172);
  text-transform: uppercase;
  cursor: pointer;
}

.CostumeLink:hover {
  color: rgb(228, 103, 72);
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }

  .Edit {
    color: #fff;
  }

  .Edit:hover {
    color: #fff;
  }

  .Action {
    font-size: 1rem;
  }

  .Bold {
    font-weight: 700;
  }

  .Italics {
    font-style: italic;
  }

  .Div50 {
    height: 50px;
    overflow: hidden;
  }

  .Div25 {
    height: 25px;
    overflow: hidden;
  }

  .ShotInfo {
    background-color: blanchedalmond;
  }

  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
    height: 30px !important;
}

.ShotEditForm {
  border-bottom: 1px solid rgb(46, 46, 46);
}

.InputArea {
  background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
    height: 50px !important;
}

/* .InputChar::placeholder {
  color: #212529;
} */
.InputScene {
   background: #ffffff;
    /* border: 1px solid #f0f1f9; */
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 10px;
}

.InputChar {
  background: #ffffff;
    /* border: 1px solid #a3a3a8; */
    box-sizing: border-box;
    border-radius: 2px;
    /* color: #212529; */
    color: #7177a1;
    /* text-align: center; */
    padding: 0px 0px;
    /* height: 30px !important; */
}

.NewChar {
  background-color: aquamarine;
}

/* .Input .form-control {
  height: 30px;
} */
  @media screen and (max-width: 600px) {
    .Title {
      font-size: .75em;
    }

    .Titledetail {
      font-size: 1.25em;
    }

    .Titlelist {
      font-size: 1em;
    }

    .SceneTitle {
      font-size: 1.25em;
    }
  }