.Frame {
  height: 1000px; 
}

/* .GoToScene:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
} */

.Title {
  font-size: 1em;
}

.White2 {
  color: #fff;
}

.WhiteText {
  color: #fff;
  font-size: .70rem;
}

.Small {
  font-size: .65rem;
}

.CardBox2 {
  margin-top: 20px;
  border: 1px solid rgb(140, 111, 25, 99%);
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
  background-size: contain;
  /* height: 125px; */
}

.CardBox3 {
  margin-top: 20px;
  border: 2px solid aqua;
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
  /* height: 125px; */
}

.GoldRead {
  color: rgb(140, 111, 25, 99%);
  font-size: .75rem;
  background-color: #fff;
}

.BlackRead {
  background-color: #000;
  color: #fff;
  font-size: .75rem;
}

.WhiteRead {
  background-color: #fff;
  color: rgb(140, 111, 25, 99%);
  color: #000;
  font-size: .75rem;
}

.Open {
  background-color: #fff;
  color: rgb(140, 111, 25, 99%);
  font-size: .75rem;
  font-weight: 700;
}

.WhiteReq {
  background-color: #fff;
  color: rgb(140, 111, 25, 99%);
  font-weight: 700;
  font-size: .75rem;
}

.BlueReq {
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font-size: .75rem;
}

.WhiteReq:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.WhiteBackReq {
  background-color: #fff;
  color: rgb(31, 202, 202);
  font-weight: 700;
  font-size: .75rem;
}

.WhiteBackReq:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.AquaReq {
  background-color: aqua;
  color: rgb(140, 111, 25, 99%);
  font-weight: 700;
  font-size: .75rem;
}

.AquaReq:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.AquaWork {
  background-color: rgb(120, 240, 240);
  color: rgb(140, 111, 25, 99%);
  font-weight: 700;
  font-size: .75rem;
}

.AquaWork:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.AquaFin {
  background-color: aqua;
  color: rgb(140, 111, 25, 99%);
  font-weight: 700;
  font-size: .75rem;
}

.AquaFin:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.BlackReq {
  background-color: #212529;
  color: #fff;
  font-size: .75rem;
}

.BlackReq:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.BlackWor {
  background-color: #2f363c;
  color: #fff;
  font-size: .75rem;
}

.BlackWor:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.BlackFin {
  background-color: #3b444b;
  color: #fff;
  font-size: .75rem;
}

.Blackfin:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.InfoBack {
  background-color: #fff;
}

.InfoBack p {
  font-size: .75rem;
}

.Italic {
  font-style: italic;
}

.Rolem {
  color: #747686;
}

.ViewScript {
  color: rgb(31, 203, 203);
  font-style: italic;
}

.ViewScript:hover {
  color: #228087;
  cursor: pointer;
}

.Para {
  min-height: 35px;
}

.Para2 {
  font-size: .75rem !important;
  color: rgb(140, 111, 25, 99%) !important;
}

.BoldScene {
  color: rgb(140, 111, 25, 99%);
}

.BoldScene {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
}

.BoldSceneI {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
  font-style: italic;
}

.Input {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
}

.InputEx {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  height: 30px !important;
  text-align: center;
}

.InputScene {
 background: #ffffff;
 border: 1px solid #e0e3eb;
 box-sizing: border-box;
 border-radius: 2px;
 color: #747686;
 padding: 0px 10px;
 text-align: center;
}

.InputChar {
 background: #ffffff;
 border: 1px solid #e0e3eb;
 box-sizing: border-box;
 border-radius: 2px;
 color: #747686;
 padding: 0px 0px;
 height: 30px !important;
 text-align: center;
}

.InputArea {
background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 50px !important;
  text-align: center;
}

.InputBar {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
}

.InputCharEdit {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 25px !important;
  text-align: center;
} 

.SceneCard i {
  color: #666;
}

.SceneCard i:hover {
  color: #0052cc;
}

.BoldBlack {
  color: #000;
  font-weight: 700;
}

.Back {
  background-color: #fff;
}

.Back1 {
  background-color: #ddf3f8;
}

.Break {
  border-top: 10px solid #d0d9db;
}

.Break1 {
  border-top: 1px solid #d0d9db;
  /* border-top: 1px solid rgb(140, 111, 25, 99%); */
}

.Break2 {
  border-top: 5px solid #d0d9db;
}

.BorderRight {
  border-right: 1px solid #d0d9db;
}

.ColHeight {
  min-height: 88.8px;
}

.DeptImageBox {
  background-color: #000;
  color: #fff;
  font-size: .60rem;
}

.DeptImageBox:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.TitleBox {
  background-color: #e8f0f1;
  color: #333;
}

.TitleBox2 {
  border-right : 2px solid #fafafa;
  color: #333;
}

.TitleBox3 {
  border-left : 1px solid #72dbe2;
  border-bottom : 1px solid #72dbe2;
  color: #333;
  font-weight: 700;
}

.TitleBox4 {
  border-left : 1px solid #72dbe2;
  border-right : 1px solid #72dbe2;
  border-bottom : 1px solid #72dbe2;
  color: #333;
  font-weight: 700;
}

.TitleBox5 {
  border-bottom : 1px solid #72dbe2;
  color: #333;
}

.Images {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.White {
  background-color: #fff;
  min-height: 30px;
}

.Crimson {
  color: rgb(231, 64, 97);
}

.Header {
  background-color: #fff;
}

.Header i {
  color: #666;
}

.SceneCard {
  margin: 5px;
  border: 5px solid #fff;
  background-color: rgb(228, 245, 250);
  /* transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s; */
}

.SceneCard:hover {
  background-color: rgb(209, 227, 250);
  color: #000;
  /* animation: bounce 1s; */
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  */
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}

/* @keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
} */

.AddScene {
  background-color: cornsilk;
}

.Bold { 
  font-weight: 700;
}

.Lightgrey {
  color: rgba(0, 0, 0, .54) 
}

.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}

.BoldTitle {
  font-weight: 700;
  background-color: #d6fcff;
}

.BoldTitle2 {
  font-weight: 700;
  border-right : 3px solid #fafafa;
  background-color: #d6fcff;
  /* width: 50%; */
}

.CharactersTitle {
  color: rgb(40, 189, 189);
  font-style: italic;
}

.CharactersTitle2 {
  color: rgb(36, 125, 125);
  font-style: italic;
}

.Actor {
  background-color: rgb(227, 246, 246);
  min-height: 65px;
}

.Button {
  color: aqua;
  cursor: pointer;
}

.Button:hover {
  color: rgb(34, 153, 153);
}

.Close {
  /* color: rgb(28, 131, 131); */
  color: rgb(32, 201, 201);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
}

.Crimson {
  color: crimson;
}

.Blue {
  color: rgb(50, 204, 204);
}

.Close:hover {
  color: rgb(0, 8, 8);
}

.CloseIns {
  color: red;
}

.CloseIns:hover {
  color: rgb(231, 226, 226);
}

.BreakBox {
  border:1px solid aquamarine;
  min-height: 100px;
}

.BreakBoxTitle {
  color: crimson;
}

.Titlex {
  color: #0052cc;
}

.SubTitlex {
  background-color: #e1ecec;
  font-weight: 700;
  color: rgba(0, 0, 0, .54)
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
}

.SubTitle2   {
  background-color: #d6fcff;
  font-weight: 700;
}

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.GuideTitle {
  font-style: italic;
  background-color: #e8f0f1;
}

.Guide {
  background-color: aliceblue;
  min-height: 120px;
  border-bottom: 1px solid #d6d4d4;
}

/* .GuideBox {
  background-color: aliceblue;
} */

.Button {
  color: rgb(10, 173, 173);
}

.Button:hover {
  color: rgb(9, 182, 182);
}

.Instructions {
  background-color: aliceblue;
}

.Guide {
  background-color: aliceblue;
}

.Break {
  border-bottom: #000;
  background-color: #000;
  color: #000;
}

.UniImg {
  max-height: 130px;
  cursor: pointer;
}

.CardBox {
  margin-top: 20px;
  border: 1px solid #fff;
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
  /* height: 150px; 1px solid #c1f1f7 */
}

/* .CardBox2 {
  margin-top: 20px;
  border: 2px solid #85ebf8;
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
  /* height: 125px; 
}  */

.CardBox:hover {
  border: 1px solid rgb(255, 255, 255);
  /* animation: bounce 1s; */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); 
  /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
}

.CostumeLink {
  color: rgb(26, 172, 172);
  text-transform: uppercase;
  cursor: pointer;
}

.CostumeLink:hover {
  color: rgb(228, 103, 72);
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }

  .Edit {
    color: #fff;
  }

  .Edit:hover {
    color: #fff;
  }

  .Action {
    font-size: 1rem;
  }

  .Bold {
    font-weight: 700;
  }

  .Italics {
    font-style: italic;
    color: #666;
  }

  .Div50 {
    height: 50px;
    overflow: hidden;
  }

  .Div25 {
    height: 25px;
    overflow: hidden;
  }

  .ShotInfo {
    background-color: rgb(226, 250, 255);
  }

.ShotEditForm {
  border-bottom: 1px solid rgb(46, 46, 46);
}

.AliceBlueMild {
  background-color: rgb(252, 253, 253);
}

.Black {
  color: #000;
  font-weight: 700;
}

.Fancyback {
  background-color: blueviolet;
  color: #fff;
  /* border: 5px solid aqua; */
}

.FancyTop {
  background-color: #000;
  color: #fff;
}

.CastEntered {
  background-color: #deedfa;
  min-height: 40px;
}

.Red {
  color: crimson;
  color: rgb(140, 111, 25, 99%);
  color: #000;
}

.Width {
  width: 50%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Grey {
  color: rgb(54, 52, 52);
}

.Dept {
  cursor: pointer;
  border: 5px solid #fff;
  background-color: rgb(228, 245, 250);
  transition-timing-function: ease;
  transition: border .5s, background-color .5s, transform .5s;
}

.Dept:hover {
  background-color: rgb(181, 223, 236);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); 
}

.Card i {
  color: #fff;
}

.ContactBack {
  background-color: #dff3f4;
}

.dropdown-menu {
/* height: 400px; */
overflow-y: scroll;
}

.DropButt {
  height: 200px;
  overflow-y: scroll; 
}

@media screen and (max-width: 600px) {
  .InputBar {
    height: 20px !important;
    font-size: .75rem !important;
}

.Input {
  height: 20px !important;
  text-align: center;
  font-size: .75rem !important;
}

.InputScene {
  font-size: .75rem !important;
 }

 .InputEx {
  font-size: .75rem !important;
  height: 20px !important;
 }

.BoldScene {
  font-size: .75rem !important;
}

p {
    font-size: .75rem;
  }
}

@media screen and (max-width: 770px) {

  h5 {
    font-size: 1rem;
  }
  .InfoBack p {
    font-size: .75rem;
  }

  .Title {
    font-size: .75em;
  }

  .Titledetail {
    font-size: 1.25em;
  }

  .Titlelist {
    font-size: 1em;
  }

  .SceneTitle {
    font-size: 1.25em;
  }
}