.Container {
    min-height: 100px;
}

.SceneBox p {
  font-size: .75rem !important;
  font-weight: 700;
}

.HrSched {
  border-top: 2px solid #fff;
}

hr {
  border-top: 1px solid #c1f1f7;
}

.InputBar {
  height: 30px !important;
  font-size: .75rem !important;
}

.UnderGold {
  border-bottom: rgba(129, 102, 21, 0.99);
}

.Para2 {
  font-size: .75rem !important;
}

.Para3 {
  font-size: .75rem !important;
  font-weight: 600;
}

.BottomScene {
  border-top: 1px solid #c6d0d2;
}

.White {
  background-color: #fff;
}

.HrSched {
  border-top: 2px solid #fff;
}

.HrSchedNext {
  border-top: 5px solid #fff;
}

.Break1 {
  border-top: 1px solid #d0d9db;
}

.Break2 {
  border-top: 5px solid #d0d9db;
}

.BorderRight {
  border-right: 1px solid #d0d9db;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.Info {
  font-size: .75rem !important;
  font-weight: 700;
  /* color: rgb(170, 27, 55); */
  color: rgb(183, 44, 72);
  cursor: pointer;
  font-style: italic;
}

.Info:hover {
  color: rgb(107, 10, 29);;
}

.White {
  background-color: #fff;
}

.Back {
  background-color: aliceblue;
}

.Container2 {
    min-height: 10px;
  }

.Bold { 
  font-weight: 700;
}
  
.BoldScene {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
}

.BoldSceneNext {
  color: rgba(108, 84, 15, 0.99);
  /* color: #747686; */
  font-style: italic;
  font-weight: 400;
}

.Input {
  background: #ffffff;
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  color: #0e1444;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
}

.InputScene {
 background: #ffffff;
 border: 1px solid #dee1f7;
 box-sizing: border-box;
 border-radius: 2px;
 color: #747686;
 color: #0e1444;
 padding: 0px 10px;
 text-align: center;
 min-height: 30px;
}

.InputSceneNext {
  background: #ffffff;
  border: 1px solid rgba(228, 202, 121, 0.99);
  border: 1px solid #dee1f7;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  color: #0e1444;
  padding: 0px 10px;
  text-align: center;
  min-height: 30px;
 }

.Number {
  border-right: 1px solid #eaf2fa;
}

.Bold { 
  font-weight: 700;
}

.Infobox {
  background-color: #000;
}

.BoldTitle2 {
  font-weight: 700;
  border-right : 3px solid #fafafa;
  background-color: #d6fcff;
  /* width: 50%; */
}

.TitleBox {
  background-color: #e8f0f1;
  color: #666;
}

.TitleBox2 {
  border-right : 2px solid #fff;
  color: #000;
}

.TitleBox3 {
  color: #666;
}

.Costume {
  color: rgb(21, 164, 186);
}

.HSpan {
  font-size: .75rem;
  font-weight: 400;
}

.SubTitle {
  background-color: #e8f0f1;
}

.FormBox {
  background-color: #fff;
}

.Bold {
  font-weight: 700;
}

.Width {
  width: 50%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Next1 {
  /* background-color: #14404f;
  color: #fff; */
  background-color: #fffff5;
  font-weight: 700;
}

.Next2 {
  /* background-color: #14404f;
  color: #fff; */
  background-color: #fffff5;
  font-weight: 700;
  /* border-top: 1px solid #d0d9db; */
}

.PostDropdown i {
  color: #000;
}

.Drop i {
  color: #000 !important;
}

/* info */

.SceneBox {
  border: 1px solid #fafafa;
  background-color: #fff;
}

.SubTitle {
  background-color: #e8f0f1;
}

.Bold { 
  font-weight: 700;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

.OrderBox {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .InputBar {
    height: 20px !important;
    font-size: .75rem !important;
}

  .Width {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .Width3 {
    width: 50%;
  }

  .BoldScene {
    font-size: .75rem !important;
  }

  .BoldSceneNext {
    font-size: .75rem !important;
  }

  .Input {
    height: 20px !important;
    text-align: center;
    font-size: .75rem !important;
  }

  .InputScene {
    font-size: .75rem !important;
   }

   .InputSceneNext {
    font-size: .75rem !important;
   }
  
}