.Container {
    min-height: 100px;
  }

.Back {
  background-color: aliceblue;
}

.Container2 {
    min-height: 10px;
  }

.Bold { 
  font-weight: 700;
}
  
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 0px 10px;
  height: 35px !important;
}

.InputScene {
  background: #ffffff;
  border: 1px solid #f0f1f9;
   box-sizing: border-box;
   border-radius: 2px;
   color: #7177a1;
   padding: 0px 10px;
}

.Number {
  border-right: 1px solid #eaf2fa;
}

.Bold { 
  font-weight: 700;
}

.TitleBox {
  background-color: #e8f0f1;
  color: #000;
}

.TitleBox2 {
  border-right : 2px solid #fff;
}

.SubTitle {
  background-color: #e8f0f1;
}

.FormBox {
  background-color: aliceblue;
  font-weight: 700;
}

.ScenesBox {
  background-color: #eaf2fa;
}

.Bold {
  font-weight: 700;
}

.Width {
  width: 50%;
}

.Width2 {
  width: 80%;
}

.Width3 {
  width: 80%;
}

.Next1 {
  background-color: #14404f;
  color: #fff;
  /* border: 1px solid #555; */
}

.Drop i {
  color: #000;
}

/* info */

.SceneBox {
  border: 1px solid #fafafa;
  background-color: #fff;
  font-weight: 700;
}

.SubTitle {
  background-color: #e8f0f1;
}

.Bold { 
  font-weight: 700;
}

.BoldTitle {
  font-weight: 700;
  background-color: rgb(209, 240, 240);
}

/* Order d4e9f5 */

.OrderBox {
  background-color: rgb(209, 240, 240);
}

@media screen and (max-width: 600px) {
  .Width {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .Width3 {
    width: 50%;
  }
}